.cat-container {
    text-align: center;
    text-align: -webkit-center;
}

div#image img {
    width: 900px;
    height: auto;
}

@media only screen and (max-width: 900px){
  div#image img {
      width: 100%;
      height: auto;
}
}
